.blog-header {
  border-bottom: 2px solid #e5e5e5;

  .logo {
    max-height: 2.75rem;
    max-width: 2.75rem;
  }

  .avatar {
    max-height: 2.75rem;
    max-width: 2.75rem;
  }
}

.blog-title {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;

  &:hover {
    text-decoration: none;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.position-sticky {
  top: 2rem;
}

.social {
  font-size: 2.75rem;
  color: var(--bs-body-color);
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 25rem;
}

.form-auth {
  max-width: 330px;
  padding: 15px;
}

.form-auth {
  height: 100%;
  display: block;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding: 15px;

  input {
    border-radius: 0;
  }

  input#username {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .form-floating:focus-within {
    z-index: 2;
  }
}

.form-auth.form-signin {
  #password {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.form-auth.form-signup {
  #confirmPassword {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
