/**
 * Django Blog Main Stylesheet
 */

// external resources
@import url("https://fonts.googleapis.com/css?family=Pacifico");

// general styles
.disclaimer {
  color: var(--bs-danger);

  &:before {
    content: "DISCLAIMER: ";
  }
}

.avatar {
  max-height: 15rem;
  max-width: 15rem;
  width: auto;
  margin: 0.25rem 0;
}

.btn-group {
  margin: 1.5rem auto;
}

.btn {
  text-transform: capitalize !important;
}

// site header
header {
  border-bottom-color: #e5e5e5 !important;

  .logo {
    max-height: 2.75rem;
    width: auto;
  }

  #headerLogoRight {
    transform: scaleX(-1); // flip the right one logo horizontally
  }

  .site-title {
    font-family: "Pacifico", "Times New Roman", serif;
    font-size: 3rem;

    &:hover {
      text-decoration: none;
    }
  }
}

// pagination
.pagination {
  margin: 1.5rem auto;
}

// topics navigation
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

// blog sidebar
section[aria-label=Sidebar] {
  .position-sticky {
    top: 1rem;
  }

  h4 {
    margin-top: 0.5rem;
  }

  .avatar {
    max-height: 7.5rem;
    max-width: 7.5rem;
  }

  .btn-group-vertical {
    margin: 0.5rem;
    max-width: 10rem;
  }
}

// articles
article {
  h1, h2, h3 {
    font-size: 1.25rem;
  }
}

// comments
#articleCommentsContainer {
  .avatar {
    height: 5rem;
    width: 5rem;
  }

  .flex-row {
    div:first-child {
      width: 7.5rem;
    }
  }
}

#articleCommentForm {
  margin-top: 2.5rem;
}

// auth forms
.form-auth {
  height: 100%;
  display: block;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding: 15px;

  input {
    border-radius: 0;
  }

  input#username {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .form-floating:focus-within {
    z-index: 2;
  }
}

.form-auth.form-signin {
  #password {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.form-auth.form-signup {
  #confirmPassword {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

// site footer
footer {
  margin-top: 1.5rem;
  padding: 2rem;

  .social {
    font-size: 2.75rem;
    color: var(--bs-body-color);
    margin: 0 1rem;
  }
}
