# idea configurations
/.vscode/
/.idea/

# node modules
/node_modules/

# distribution bundles directories
/dist/

# bootstrap source may be required for autocomplite,
# but they aren't part of current repository content
bootstrap-*.*
bootstrap.*

# emacs caches and backup files
\#*\#
*~

# temporary files storage
/temp/
/tmp/
