<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Blog project templates bundle - EDU Python course">
  <link rel="icon" type="image/svg+xml" href="{{favicon_svg}}">
  <link rel="icon" type="image/png" href="{{favicon_png}}">
  <title>{{title}} | Blog Site</title>
</head>
<body>
{{>partials/_header}}
<div class="container">
  <div class="row justify-content-center">
    {{>partials/form_main}}
    {{>partials/_sidebar authenticated=user can_create=true}}
  </div>
</div>
</body>
</html>
