<div class="modal fade" id="modalArticleDelete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h2 text-danger-emphasis">Confirm Article Deletion</div>
      </div>
      <div class="modal-body">
        This action will delete the
        <strong>{{title}}</strong>
        article and all related comments.
        Do you confirm this action?
      </div>
      <div class="modal-footer">
        <form action="">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
