<div class="modal fade" id="modalArticleComment" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="row position-relative" id="articleCommentForm">
          <div class="col-12 mb-2">
            <label for="message" class="visually-hidden">Comment message</label>
            <textarea name="message" id="message" class="form-control" rows="10"></textarea>
          </div>
          <div class="col d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send"></i>&nbsp;Send</button>
            <small class="text-muted">0 / 1024 characters</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
