<div class="row d-flex flex-row">
  <div class="w-25 d-flex flex-column justify-content-center">
    <img src="{{comment.author.image}}" alt="avatar" class="avatar rounded-circle p-2">
    <div class="fw-bolder fst-italic text-center">{{comment.author.first_name}} {{comment.author.last_name}}</div>
  </div>
  <div class="w-75">
    <small class="fw-light">{{comment.published}}</small>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam, aspersions dicta numeral officia qua
      suscipit tempora totam! Ill ipsam iusto officiis recusandae rerum sint. Ab accusation aliquot assumenda cum
      eaque error esse event fuga fugit in ipsam labor maxime nam, natus senescent nostrum officiis quas solute ullam
      venial. Alias, culpa cumquat doldrums expedita harum iure nam non perspicacity porro praesentium, repellat sint
      tempore tenet? Aspersions corporis eligendi eos nil veritas. Blanditiis, commodi cupidity delegates
      deletion dicta dolorem fuga fugit, iure maxime necessitatibus senescent officia pariatur rem repellat rerum solute
      ullam. Amet cum deletion dolores eaque exercitationem necessitatibus repellendus voluptatibus?
    </p>
  </div>
</div>
