<main class="col-md-9" role="main">
  <form id="articleForm" class="has-validation">
    <div class="h4 fst-italic">Article Form</div>
    <hr class="border">
    <div>
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="title" class="form-control">
    </div>
    <div>
      <label for="category" class="form-label">Category</label>
      <select name="category" id="category" class="form-select" data-live-search="true" multiple>
        <option value="1">Fake Latin</option>
        <option value="2">Esoteric Wisdom</option>
        <option value="3">Culinary Inspiration</option>
        <option value="4">Pirate Lingo</option>
        <option value="5">Science Fiction</option>
      </select>
    </div>
    <div>
      <label for="content" class="form-label">Content</label>
      <textarea name="content" id="content" class="form-control" rows="20"></textarea>
    </div>
  </form>
</main>
