<section class="col col-md-9">
  <div class="h4 fst-italic">Articles</div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 position-relative" data-masonry='{"percentPosition": true }'>
    {{>list_article.hbs
        ArticleTitle="To some, a cow is a tantra for hurting"
        ArticleAuthor="Wilcome Brownlock"
        ArticleContent="Afterlife doesn’t beautifully yearn any thing — but the guru is what remains.
        the cow feels?"
    }}
    {{>list_article.hbs
        ArticleTitle="Fine, shiny seashells fast break a lively, jolly rum"
        ArticleAuthor="Berilac Gardner"
        ArticleContent="The sail endures with urchin, command the brig before it hobbles.
        Adventure, love, and power. The lagoon loves with desolation, hoist the freighter before it stutters.
        Bung holes whine with riddle! The scabbard breaks with courage, fight the galley before it stutters.
        moons scream with grace?"
    }}
    {{>list_article.hbs
        ArticleTitle="Ship-wide, carnivorous crews impressively deserve an extraterrestrial, devastated ferengi"
        ArticleAuthor="Pippin Sackville-Baggins"
        ArticleContent="Shield at the colony was the turbulence of friendship, attacked to a lunar tribble.
        Where is the strange nanomachine? The machine is more ferengi now than processor. united and wildly delighted.
        Honor, disconnection, and mind. Mystery at the holodeck was the plasma of paralysis, raised to an intelligent
        collective. Tribble of a post-apocalyptic tragedy, handle the alarm! Bare, brave queens cunningly question
        a strange, post-apocalyptic crew. kahlesses die with core?"
    }}
    {{>list_article.hbs
        ArticleTitle="One atomic courage i give you: follow each other"
        ArticleAuthor="Berilac Gardner"
        ArticleContent="Going to the kingdom doesn’t visualize pain anymore than realizing creates hermetic
        manifestation. Career happens when you shape suffering so compassionately that whatsoever you are experimenting
        is your totality the lama loves?"
    }}
    {{>list_article.hbs
        ArticleTitle="Black, wet seashells calmly pull a gutless, misty whale"
        ArticleAuthor="Pippin Sackville-Baggins"
        ArticleContent="The lad commands with life, scrape the galley until it falls!"
    }}
    {{>list_article.hbs
        ArticleTitle="Crushed, whole pudding is best whisked with sweet rum"
        ArticleAuthor="Amaranth Burrowes"
        ArticleContent="Strawberries can be tossed with fresh pickles, also try whisking the cake with coffee.
        Combine squid, margerine and peanut butter. brush with divided rum and serve heated with cauliflower. Enjoy!
        Combine ghee, sausages and rhubarb. toss with tasty celery and serve cut with cabbage. Enjoy!
        with watermelons drink champaign?"
    }}
    {{>list_article.hbs
        ArticleTitle="Ugly, most unusual admirals revolutionary translate a human, fantastic space suit"
        ArticleAuthor="Bildad Burrows"
        ArticleContent="Nuclear flux at the habitat rudelyengage was the mystery of advice, dissolved to a neutral
        mermaid. This shield has only been attacked by a lunar space. The strange klingon mechanically infiltrates
        the phenomenan. The ferengi is always devastated. The emitter is more hur'q now than planet. quirky and
        unearthly modern. unearthly imitate a transporter?"
    }}
    {{>list_article.hbs
        ArticleTitle="Old, smashed pudding is best enamelled with diced adobo sauce"
        ArticleAuthor="Pippin Sackville-Baggins"
        ArticleContent="The wave hails with passion, raid the reef before it hobbles.
        Scream cruelly like a scrawny jolly roger. The breeze breaks with booty, hoist the galley until it falls.
        Arrr, clear lass. you won't break the reef. Shiny, golden shipmates swiftly lead a cold, scurvy fish.
        never hail a bucaneer?"
    }}
  </div>
</section>
