<section class="col col-md-9">
  <div class="h4 fst-italic">Articles</div>
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
  {{>list_article.hbs
      ArticleTitle="Yes, there is strange places, it disturbs with vision."
      ArticleAuthor="Pippin Sackville-Baggins"
      ArticleContent="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Error explicabo possimus quas totam! Ab exercitationem illo minus
      molestiae omnis quidem tenetur velit! Asperiores eius eum, fugiat id iste
      quam sunt vel voluptate? Dolor est facilis illum iste nulla odio quam
      repellat sequi tenetur totam? Dolores laborum odio officiis quis
      tempore?"
  }}
</section>
