<div class="modal fade" id="modalDeactivateAccount" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h2 text-danger-emphasis">Confirm Account Deactivation</div>
      </div>
      <div class="modal-body">
        This action will deactivate current user account for <strong>{{user.first_name}} {{user.last_name}}</strong>.
        You will no longer be able to log in to the site, and use it.
        Articles published by the user will stay public available.
        Do you confirm this action?
      </div>
      <div class="modal-footer">
        <form action="">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
