<div class="modal fade" id="modalChangePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h2 text-danger-emphasis">Update User Password</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" id="accountSetPassword">
          <div class="form-floating my-1">
            <input type="password" class="form-control" id="currentPassword" placeholder="Current Password"
                   name="current_password">
            <label for="currentPassword">Current Password</label>
          </div>
          <div class="form-floating my-1">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password"
                   name="new_password">
            <label for="newPassword">New Password</label>
          </div>
          <div class="form-floating my-1">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                   name="confirm_password">
            <label for="confirmPassword">Confirm Password</label>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <input type="submit" class="btn btn-outline-dark" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
