<div class="modal fade" id="modalSetUserData" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h2 text-danger-emphasis">Update User Data</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" id="accountSetUserData">
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            <label for="username">Username</label>
          </div>
          <div class="form-floating my-1">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            <label for="email">Email</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="first_name">
            <label for="firstName">First Name</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="last_name">
            <label for="lastName">Last Name</label>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <input type="submit" class="btn btn-outline-dark" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
