<main class="col col-sm-12 col-md-8 col-lg-4">
  <form class="auth-form" aria-label="SignUpForm" role="form">
    <div class="h3 mb-3 fw-normal text-nowrap">Register new account</div>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="Username" name="username">
      <label for="username">Username</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="Email" name="email">
      <label for="email">Email</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
      <label for="password">Password</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Password" name="confirm_password">
      <label for="confirmPassword">Confirm Password</label>
    </div>

    <div class="my-3 text-center">
      <p>Have already an account?</p>
      <a href="{{SignInView}}" class="text-body fw-bold">Sing in here</a>
    </div>

    <button class="w-100 btn btn-lg btn-outline-dark" type="submit">join us</button>
  </form>
</main>
