<main class="col col-sm-12 col-md-8 col-lg-4">
  <form class="auth-form" aria-label="SignInForm" role="form">
    <div class="h3 mb-3 fw-normal text-nowrap text-center" role="heading">Login to your account</div>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="Username" name="username">
      <label for="username">Username</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
      <label for="password">Password</label>
    </div>

    <div class="my-3 text-center">
      <p>Have no account?</p>
      <a href="{{SignUpView}}" class="text-body fw-bold">Join us now</a>
    </div>

    <button class="w-100 btn btn-lg btn-outline-dark" type="submit">sign in</button>
  </form>
</main>
